<div class="container">

<%= render "questionnaire_menu" %>
<br>
<br>
<p>
  <strong>Fio:</strong>
  <%= @questionnaire.fio %>
</p>

<p>
  <strong>School number:</strong>
  <%= @questionnaire.school_number %>
</p>

<p>
  <strong>Index:</strong>
  <%= @questionnaire.index %>
</p>

<p>
  <strong>City:</strong>
  <%= @questionnaire.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @questionnaire.street %>
</p>

<p>
  <strong>Building:</strong>
  <%= @questionnaire.building %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @questionnaire.apartment %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @questionnaire.phone_number %>
</p>

<p>
  <strong>Filling date:</strong>
  <%= @questionnaire.filling_date %>
</p>

<p>
  <strong>Stay duration:</strong>
  <%= @questionnaire.stay_duration %>
</p>

<p>
  <strong>Industrial presence:</strong>
  <%= @questionnaire.industrial_presence %>
</p>

<p>
  <strong>Age:</strong>
  <%= @questionnaire.age %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @questionnaire.birth_date %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @questionnaire.sex %>
</p>

<p>
  <strong>A 1:</strong>
  <%= @questionnaire.a_1 %>
</p>

<p>
  <strong>A 2:</strong>
  <%= @questionnaire.a_2 %>
</p>

<p>
  <strong>A 3:</strong>
  <%= @questionnaire.a_3 %>
</p>

<p>
  <strong>A 4:</strong>
  <%= @questionnaire.a_4 %>
</p>

<p>
  <strong>A 5:</strong>
  <%= @questionnaire.a_5 %>
</p>

<p>
  <strong>A 6:</strong>
  <%= @questionnaire.a_6 %>
</p>

<p>
  <strong>A 7:</strong>
  <%= @questionnaire.a_7 %>
</p>

<p>
  <strong>A 8:</strong>
  <%= @questionnaire.a_8 %>
</p>

<p>
  <strong>B 1:</strong>
  <%= @questionnaire.b_1 %>
</p>

<p>
  <strong>B 2:</strong>
  <%= @questionnaire.b_2 %>
</p>

<p>
  <strong>B 3:</strong>
  <%= @questionnaire.b_3 %>
</p>

<p>
  <strong>B 4 01:</strong>
  <%= @questionnaire.b_4_01 %>
</p>

<p>
  <strong>B 4 02:</strong>
  <%= @questionnaire.b_4_02 %>
</p>

<p>
  <strong>B 4 03:</strong>
  <%= @questionnaire.b_4_03 %>
</p>

<p>
  <strong>B 4 04:</strong>
  <%= @questionnaire.b_4_04 %>
</p>

<p>
  <strong>B 4 05:</strong>
  <%= @questionnaire.b_4_05 %>
</p>

<p>
  <strong>B 4 06:</strong>
  <%= @questionnaire.b_4_06 %>
</p>

<p>
  <strong>B 4 07:</strong>
  <%= @questionnaire.b_4_07 %>
</p>

<p>
  <strong>B 4 08:</strong>
  <%= @questionnaire.b_4_08 %>
</p>

<p>
  <strong>B 4 09:</strong>
  <%= @questionnaire.b_4_09 %>
</p>

<p>
  <strong>B 4 10:</strong>
  <%= @questionnaire.b_4_10 %>
</p>

<p>
  <strong>B 4 11:</strong>
  <%= @questionnaire.b_4_11 %>
</p>

<p>
  <strong>B 4 12:</strong>
  <%= @questionnaire.b_4_12 %>
</p>

<p>
  <strong>B 5:</strong>
  <%= @questionnaire.b_5 %>
</p>

<p>
  <strong>B 6:</strong>
  <%= @questionnaire.b_6 %>
</p>

<p>
  <strong>C 1:</strong>
  <%= @questionnaire.c_1 %>
</p>

<p>
  <strong>C 2:</strong>
  <%= @questionnaire.c_2 %>
</p>

<p>
  <strong>C 3:</strong>
  <%= @questionnaire.c_3 %>
</p>

<p>
  <strong>C 4:</strong>
  <%= @questionnaire.c_4 %>
</p>

<p>
  <strong>C 5:</strong>
  <%= @questionnaire.c_5 %>
</p>

<p>
  <strong>C 6:</strong>
  <%= @questionnaire.c_6 %>
</p>

<p>
  <strong>C 7:</strong>
  <%= @questionnaire.c_7 %>
</p>

<p>
  <strong>D 1 1:</strong>
  <%= @questionnaire.d_1_1 %>
</p>

<p>
  <strong>D 1 2:</strong>
  <%= @questionnaire.d_1_2 %>
</p>

<p>
  <strong>D 1 3:</strong>
  <%= @questionnaire.d_1_3 %>
</p>

<p>
  <strong>D 1 4:</strong>
  <%= @questionnaire.d_1_4 %>
</p>

<p>
  <strong>D 1 5:</strong>
  <%= @questionnaire.d_1_5 %>
</p>

<p>
  <strong>D 1 6:</strong>
  <%= @questionnaire.d_1_6 %>
</p>

<p>
  <strong>D 1 7:</strong>
  <%= @questionnaire.d_1_7 %>
</p>

<p>
  <strong>D 1 8:</strong>
  <%= @questionnaire.d_1_8 %>
</p>

<p>
  <strong>D 1 9:</strong>
  <%= @questionnaire.d_1_9 %>
</p>

<p>
  <strong>D 1 10:</strong>
  <%= @questionnaire.d_1_10 %>
</p>

<p>
  <strong>D 1 11:</strong>
  <%= @questionnaire.d_1_11 %>
</p>

<p>
  <strong>D 1 12:</strong>
  <%= @questionnaire.d_1_12 %>
</p>

<p>
  <strong>D 1 13:</strong>
  <%= @questionnaire.d_1_13 %>
</p>

<p>
  <strong>D 1 14:</strong>
  <%= @questionnaire.d_1_14 %>
</p>

<p>
  <strong>D 1 15:</strong>
  <%= @questionnaire.d_1_15 %>
</p>

<p>
  <strong>D 1 16:</strong>
  <%= @questionnaire.d_1_16 %>
</p>

<p>
  <strong>D 1 17:</strong>
  <%= @questionnaire.d_1_17 %>
</p>

<p>
  <strong>D 1 18:</strong>
  <%= @questionnaire.d_1_18 %>
</p>

<p>
  <strong>D 1 19:</strong>
  <%= @questionnaire.d_1_19 %>
</p>

<p>
  <strong>D 1 20:</strong>
  <%= @questionnaire.d_1_20 %>
</p>

<p>
  <strong>D 1 20 description:</strong>
  <%= @questionnaire.d_1_20_description %>
</p>

<p>
  <strong>D 1 0:</strong>
  <%= @questionnaire.d_1_0 %>
</p>

<p>
  <strong>D 2 1:</strong>
  <%= @questionnaire.d_2_1 %>
</p>

<p>
  <strong>D 2 2:</strong>
  <%= @questionnaire.d_2_2 %>
</p>

<p>
  <strong>D 2 3:</strong>
  <%= @questionnaire.d_2_3 %>
</p>

<p>
  <strong>D 2 4:</strong>
  <%= @questionnaire.d_2_4 %>
</p>

<p>
  <strong>D 2 5:</strong>
  <%= @questionnaire.d_2_5 %>
</p>

<p>
  <strong>D 2 6:</strong>
  <%= @questionnaire.d_2_6 %>
</p>

<p>
  <strong>D 2 7:</strong>
  <%= @questionnaire.d_2_7 %>
</p>

<p>
  <strong>D 2 8:</strong>
  <%= @questionnaire.d_2_8 %>
</p>

<p>
  <strong>D 2 9:</strong>
  <%= @questionnaire.d_2_9 %>
</p>

<p>
  <strong>D 2 10:</strong>
  <%= @questionnaire.d_2_10 %>
</p>

<p>
  <strong>D 2 11:</strong>
  <%= @questionnaire.d_2_11 %>
</p>

<p>
  <strong>D 2 12:</strong>
  <%= @questionnaire.d_2_12 %>
</p>

<p>
  <strong>D 2 13:</strong>
  <%= @questionnaire.d_2_13 %>
</p>

<p>
  <strong>D 2 14:</strong>
  <%= @questionnaire.d_2_14 %>
</p>

<p>
  <strong>D 2 15:</strong>
  <%= @questionnaire.d_2_15 %>
</p>

<p>
  <strong>D 2 16:</strong>
  <%= @questionnaire.d_2_16 %>
</p>

<p>
  <strong>D 2 17:</strong>
  <%= @questionnaire.d_2_17 %>
</p>

<p>
  <strong>D 2 18:</strong>
  <%= @questionnaire.d_2_18 %>
</p>

<p>
  <strong>D 2 19:</strong>
  <%= @questionnaire.d_2_19 %>
</p>

<p>
  <strong>D 2 20:</strong>
  <%= @questionnaire.d_2_20 %>
</p>

<p>
  <strong>D 2 0:</strong>
  <%= @questionnaire.d_2_0 %>
</p>

<p>
  <strong>D 3:</strong>
  <%= @questionnaire.d_3 %>
</p>
<br>
<%= render "questionnaire_menu" %>

</div>
