<!DOCTYPE html>
<html>
  <head>
    <title>ISAAC Database</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <div class="container-fluid">
      <% if user_signed_in? %>
        <p class="notice">Пользователь: <%= @current_user_email %> | 
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %> |
        </p>
      <% else %>
      <% end %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
